.layout_container {
    display: flex;


}

.sidebar_container {

    width: 12%;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    margin-right: 1%;
}

.font_content {
    margin-right: 1%;
}

.Active {
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
}

.outlet_container {
    width: 88%;
}