.sidebar_container {
    background-color: rgb(147, 167, 182);
    width: 20%;
    height: 200vh;
    cursor: pointer;
}

.li {
    padding-left: 50px;
    text-decoration: none;
    padding-top: 25px;
    font-family: 700;
}