.form_container {
  text-align: center;
  margin: 10px 2px;
  border: 1px solid rgb(251, 221, 221);
  padding: 100px 75px;
  margin: 10%;
  box-shadow: 20px 20px 40px 15px rgb(254, 220, 220);
  background-color: rgb(246, 246, 247);

}